$background: #63A9CA;
$highlight: #EEBCC6;

* {
    opacity: 1 !important;
}

html {
    background-color: $background;
}

body, #title, .big-link, h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    color: white;
    border-bottom-color: $highlight;
}

#title {
    display: inline-block;
    font-weight: bold;
}

#title, h1, h2, h3, h4, h5, h6 {
    &:before {
        content: '#';
        color: $highlight;
    }
}

hr {
    color: $highlight;
}

@media(max-width: 768px) {
    .wrap {
        margin-top: 3rem;
    }
}
